[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
autohooks = "*"
autohooks-plugin-autopep8 = "*"
pytest = "*"
pytest-describe = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
python-socketio = "==1.9.0"
Flask = "==1.0.2"
Flask-SocketIO = "==3.0.1"
Flask-WTF = "==0.14.2"
WTForms = "==2.2.1"
sqlalchemy = "*"
mypy = "*"
mysqlclient = "*"
flask-login = "*"
werkzeug = "==0.16.1"

[requires]
python_version = "3.6"

[scripts]
test = "pytest tests --cov=. --cov-report=html"
