@font-face {
  font-family: "Muller-Thin";
  src: url("/static/muller/Muller-Thin.ttf");
}

@font-face {
  font-family: "Muller-Bold";
  src: url("/static/muller/Muller-ExtraBold.ttf");
}

@font-face {
  font-family: "Muller";
  src: url("/static/muller/Muller-Regular.ttf");
}

:root {
  --dark-black: #000;
  --main-dark-blue: #383443;
  --main-grey: #9699a8;
  --main-accent-orange: #ff8f00;
  --main-burnt-orange: #fc570f;
  --main-darker-grey: #807b78;
  --main-brown: #8e633a;
  --main-light-blue: #5d4f5e;
  --bright-white: #fff;
  --dark-grey: #232323;
}

html,
.generic-button {
  font-size: 14px;
}

body {
  color: var(--main-dark-blue);
  font-family: Muller;
}

header {
  width: 100%;
}

footer {
  padding: 10px 0px;
  text-align: center;
}

#chat,
textarea,
input {
  color: var(--main-dark-blue);
  border-radius: 15px;
  width: 100%;
  width: -moz-available;
  width: fill-available;
  padding: 5px;
  border: solid 1px var(--main-grey);
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
button path {
  color: var(--bright-white);
  fill: var(--bright-white);
}

/* IDs */

#hamburger {
  margin: 1em;
  width: 40px;
  z-index: 2;
  cursor: pointer;
}

#hamburger:after,
#hamburger:before,
#hamburger #menu-icon {
  background-color: var(--main-dark-blue);
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

#side-menu {
  background: var(--bright-white);
  position: absolute;
  left: 0;
  top: 0;
  height: 93vh;
  width: 0;
  overflow-y: scroll;
}

#side-menu.show {
  width: 15%;
  padding: 30px;
  padding-top: 5em;
  border-right: var(--main-grey) 1px solid;
  transition: width 0.3s;
}

#side-menu a {
  color: var(--main-dark-blue);
}

#title,
#title a,
.horizontal {
  display: flex;
  align-items: center;
  color: inherit;
}

#title svg,
#title img {
  width: 50px;
  padding: 10px;
  fill: var(--main-bright-blue);
}

#chat {
  width: inherit;
  height: 60%;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 5px;
}

#chat > span {
  background-color: var(--main-light-blue);
  color: var(--bright-white);
  width: fit-content;
  max-width: 40%;
  word-break: break-word;
  padding: 6px;
  margin: 3px;
  border-radius: 13px;
}

#chat > span img {
  max-width: 100%;
}

#chat span a {
  text-decoration: underline;
  color: inherit;
}

#chat span.yours {
  background-color: var(--main-accent-orange);
  color: var(--bright-white);
  margin-left: auto;
}

#chat > span > *:first-child {
  margin: 0px;
}

#chat i {
  font-size: 12px;
}

#chat i.yours {
  margin-left: auto;
}

#chat::-webkit-scrollbar,
#side-menu::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.emojiPicker::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#chat::-webkit-scrollbar-thumb,
#side-menu::-webkit-scrollbar-thumb,
.emojiPicker::-webkit-scrollbar-thumb {
  background: var(--main-grey);
  border-radius: 15px;
}

#text::-webkit-scrollbar,
#chat::-webkit-scrollbar-corner,
#chat::-webkit-resizer,
#side-menu::-webkit-scrollbar,
#side-menu::-webkit-scrollbar-corner,
#side-menu::-webkit-resizer,
.emojiPicker::-webkit-scrollbar-corner,
.emojiPicker::-webkit-resizer {
  display: none;
}

#chat::-webkit-scrollbar-track {
  margin: 6px;
}

#text {
  margin-right: 6px;
  padding-right: 25px;
}

#typing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  width: 0px;
}

#typing.hidden {
  animation: hidden 1s forwards;
}

#side-menu.show {
  z-index: 1;
}

/* Classes */

.hamburger-clicked:before {
  transform: translateY(12px) rotate(135deg);
}

.hamburger-clicked:after {
  transform: translateY(-12px) rotate(-135deg);
}

.hamburger-clicked div {
  transform: scale(0);
}

.container {
  max-width: 80%;
  margin: auto;
}

.form-container {
  width: 50%;
  margin: auto;
  padding: 3em;
  border: var(--main-grey) 1px solid;
  border-radius: 8px;
}

.generic-button {
  width: auto;
  padding: 11.45px 20.37px;
  font-size: 14px;
  border: solid 1px var(--main-burnt-orange);
  border-radius: 3px;
  background: var(--main-burnt-orange);
  transition: all 0.3s;
  color: var(--bright-white);
  cursor: pointer;
}

.generic-button:hover {
  border: solid 1px var(--main-accent-orange);
  background-color: var(--main-accent-orange);
}

.round-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 8px;
}

.horizontal-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

.main-svg-color {
  color: var(--dark-black);
  fill: var(--dark-black);
}

.input-container > div {
  width: 100%;
  padding: 10px;
}

.emojiPicker ul a {
  width: 9%;
}

.emojiPicker ul:first-child {
  position: sticky;
  top: 0;
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  body {
    background: var(--bright-white);
    background-color: var(--main-dark-blue);
    color: var(--bright-white);
  }

  button {
    fill: var(--main-brown);
  }

  #chat > span {
    background-color: var(--main-dark-blue);
  }

  #hamburger:after,
  #hamburger:before,
  #hamburger #menu-icon {
    background-color: var(--bright-white);
  }

  #side-menu {
    background: var(--dark-black);
  }

  #side-menu a {
    color: var(--main-grey);
  }

  #title svg {
    fill: var(--main-grey);
  }

  .input-container svg {
    fill: #fff;
  }

  #chat,
  .form-container,
  textarea,
  input {
    border: solid 1px var(--main-grey);
    background-color: var(--main-light-blue);
    color: var(--bright-white);
  }

  #chat,
  textarea::-ms-input-placeholder,
  textarea::placeholder {
    color: var(--bright-white);
  }

  input,
  textarea {
    border-color: var(--main-grey);
  }

  .main-svg-color {
    color: var(--bright-white);
    fill: var(--bright-white);
  }

  .emojiPicker ul:first-child {
    background: var(--main-darker-grey) !important;
  }

  .emojiPicker,
  .emojiPicker ul {
    background: var(--dark-grey) !important;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hidden {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
