<html>

<head>
    <title>Socks Chat | Chat</title>
    <link rel=icon href="{{ url_for('static', filename='socks.png') }}"
        sizes="any">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/socket.io.min.js') }}">
    </script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/markdown-it.min.js') }}">
    </script>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='js/highlight/styles/atom-one-dark-reasonable.css') }}">
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('static', filename='js/highlight/highlight.pack.js') }}">
    </script>
    <script type="text/javascript" charset="utf-8">
        hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            // Instead of hard coded value, pull from site
            const protocol = window.location.toString().includes(
                "localhost") ? 'http://' : 'https://'
            socket = io.connect(
                `${protocol}${document.domain}:${location.port}/chat`
            );
            socket.on('connect', function () {
                socket.emit('joined', {});
            });
            socket.on('status', function (data) {
                let chat = document.getElementById("chat");
                let message = document.createElement("span");
                let time = document.createElement("i");
                time.innerHTML = new Date()
                    .toLocaleTimeString();
                chat.appendChild(time);
                message.appendChild(document.createTextNode(
                    `<${data.msg}>`));
                chat.appendChild(message);
                $('#chat').scrollTop($('#chat')[0]
                    .scrollHeight);
            });
            socket.on('message', function (data) {
                var md = window.markdownit();
                let chat = document.getElementById("chat");
                let message = document.createElement("span");
                let time = document.createElement("i");
                let typing = document.getElementById('typing');
                typing.style.display = "none";
                time.innerHTML = new Date()
                    .toLocaleTimeString();
                // Render markdown and add URLs where necessary
                message.innerHTML = urlify(md.render(
                    `${data.name}:\n ${data.msg}`));
                let links = message.getElementsByTagName('a');
                for (var i = 0; i < links.length; i++) {
                    links[i].target = "_blank";
                }
                // Add syntax highlighting to code blocks
                message.querySelectorAll('pre code').forEach((
                    block) => {
                    hljs.highlightBlock(block);
                });
                // Add class on messages the user is sending
                if (socket.id === data.id) {
                    message.className = 'yours';
                    time.className = 'yours';
                }
                chat.appendChild(time);
                chat.appendChild(message);
                $('#chat').scrollTop($('#chat')[0]
                    .scrollHeight);

                if (!vis() && !document.title.includes("(1)")) {
                    document.title = `(1) ${document.title}`
                }
            });
            let typing_timestamp = 0;
            socket.on('user_typing', function (data) {
                typing_timestamp = Date.now() + 4000
                let typing = document.getElementById('typing');
                typing.classList.remove('hidden');
                if (socket.id !== data.id) {
                    typing.innerText = `${data.name} is typing`;
                    typing.style.opacity = 1;
                    setTimeout(function () {
                        if (Date.now() >
                            typing_timestamp) {
                            typing.classList.add(
                                'hidden');
                        }
                    }, 4500);
                }
            });

            $('#text').keypress(function (e) {
                socket.emit('typing', {});
                var code = e.keyCode || e.which;
                if (code === 13 && !e.shiftKey) {
                    return sendMessage();
                }
                if (code === 13 && e.shiftKey) {
                    document.getElementById("text")
                        .value = document
                        .getElementById("text")
                        .value
                }
            });

            window.addEventListener('beforeunload', function () {
                socket.emit('left', {});
            });
        });

        function sendMessage() {
            text = $('#text').val();
            socket.emit('text', {
                msg: text
            });
            const textarea = document.getElementById("text");
            textarea.value = "";
            textarea.style.cssText = 'height:18px';
            return false;
        }

        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();
                // go back to the login page
                window.location.href =
                    "{{ url_for('main.index') }}";
            });
        }

        function urlify(text) {
            return text.replace(/(\s|^|p>)(https?:\/\/[^\s]+)/g, function (
                url) {
                return url.replace('<p>', '').replace('</p>', '').link(
                    url.replace('<p>', '').replace('</p>', ''));
            })
        }


        $(window).focus(function () {
            document.title = document.title.replace('(1) ', '');
        });

        var vis = (function () {
            var stateKey, eventKey, keys = {
                hidden: "visibilitychange",
                webkitHidden: "webkitvisibilitychange",
                mozHidden: "mozvisibilitychange",
                msHidden: "msvisibilitychange"
            };
            for (stateKey in keys) {
                if (stateKey in document) {
                    eventKey = keys[stateKey];
                    break;
                }
            }
            return function (c) {
                if (c) document.addEventListener(eventKey, c);
                return !document[stateKey];
            }
        })();

        function clear_chat() {
            document.getElementById('chat').innerHTML = '';
        }
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var textarea = document.getElementById('text');

            textarea.addEventListener('keydown', autosize);

            function autosize() {
                var el = this;
                setTimeout(function () {
                    el.style.cssText = 'height:' + el
                        .scrollHeight + 'px';
                }, 0);
            }
        });

        $(function () {
            $('chat a[href]').attr('target', '_blank');
        });
    </script>
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>
    <div class="container">
        <span class="horizontal-spaced">
            <h1 id="title">
                {{ room }}
            </h1>
            <a href="/" class="generic-button" onclick="leave_room();">
                Leave this room
            </a>
        </span>
        <div style="display: flex; justify-content: flex-end;">
            <a onclick="clear_chat()">
                Clear
            </a>
        </div>
        <div id="chat"></div>
        <br><br>
        <span id="typing" style="opacity: 0;"></span>
        <span class="horizontal-spaced input-container">
            <textarea id="text" rows="1" data-meteor-emoji="true"
                placeholder="Enter your message here"></textarea>
            <button class="generic-button round-button" onclick="sendMessage()">
                {{ send_logo }}
            </button>
        </span>
    </div>
</body>
<script src="static/js/meteorEmoji.js"></script>
<script>
    (() => {
        new MeteorEmoji()
    })()
</script>

</html>
